¡Hola Mundo!
<h1>{{ pimcore_input("headline") }}</h1>
<h2>{{ pimcore_input("head_nam", {'placeholder':'Titulo'}).render()|raw }}</h2>
<h2>{{ pimcore_input("head_nam2", {'placeholder':'Titulo'}).render()|raw }}</h2>

