<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Prueba</title>
</head>
<body>
    <h2>
        {{ pimcore_input("headerLine", {'width': 540}) }}
    </h2>
    <p class="product-description">
        {{ pimcore_textarea("product_description",{
            "nl2br": true,
            "height": 300,
            "placeholder": "Product Description"
        }) }}
    </p>
    {{ pimcore_image("myImage", {
        "title": "Drag your image here",
        "width": 200,
        "height": 200
    }) }}
</body>
</html>